@model IEnumerable<AllCommentsViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

    <html lang="en">
    <body>

            <div class="container">
                <div class="row vertical-gap">
                    <div class="col-lg-8">
  
                            <div id="comments"></div>
                            <h3 class="nk-decorated-h-2"><span><span class="text-main-1 float-left">@Model.Count() Comments </span></span></h3>
                            <div class="nk-gap"></div>
                                <div class="nk-comments">

                                    @foreach (var comment in Model)
                                    {
                            <div class="row" style="display:inline">
                                <div class="nk-comment-meta">
                                    <div style="color: #a38b63">Posted by: @comment.Username </div>
                                    <div style="color: #a38b63">On @comment.CreatedOn</div>
                                    <div style="color: #a38b63">Rating: @comment.Rating &#11088;</div>

                                </div>
                                    <div class="nk-comment-text;" style="color:white; font-size:20px">

                                        <p>@comment.Content</p>
                                    </div>
                                    <div class="display: inline" style="margin-bottom: 15px">
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <form asp-action="Delete" asp-route-id="@comment.Id">
                                                <button type="submit" class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white">Delete!</button>
                                            </form>
                                        }

                                    </div>

                                </div>}
                                </div>
                                <div class="nk-gap-2"></div>
                            </div>
                    </div>
            </div>
            <div class="nk-gap-2"></div>

    </body>
    </html>