@model AllGamesQueryModel

@{ ViewData["Title"] = "Platforms";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<!DOCTYPE html>
<html lang="en">
<body>

    <partial name="_SearchAndSortGamePartial" model="@Model"></partial>

    <div class="row">
        @foreach (var game in Model.Games)
        {
    <div class="card mr-5 mb-10" style="width: 150px; height:200px;">
        <a asp-action="Details" asp-route-id="@game.Id" class="nk-post-img">
            <img src="@game.ImageUrl">

            <span class="nk-post-categories">
                <span class="bg-main-1">@game.Genre</span>
            </span>
        </a>

        <div class="col-es text-center h3">
            <h2 class="nk-post-title" style="color:black"><a>@game.Title</a></h2>
            <div class="nk-post-date" style="color:green">
                <span class="nk-product-price"></span>@game.Price $
            </div>
        </div>
    </div>}
    </div>
    

</body>
</html>
