@model GameDetailsViewModel


@{ ViewData["Title"] = "Details";
   Layout = "~/Views/Shared/_Layout.cshtml"; }


<!DOCTYPE html>


<html lang="en">
<body>

        <div class="item">
            <div asp-for="@Model.ImageUrl" class="col-lg-3 col-md-5">
                <a href="" class="nk-post-img">
                    <img src="@Model.ImageUrl">
                </a>
                <span class="nk-post-categories float-right">
                    <span class="bg-main-1">@Model.Genre</span>
                </span>

                <span class="nk-post-categories float-right">
                    <span class="bg-main-1">@Model.Platform</span>
                </span>
            </div>
            <div class="col-lg-9 col-md-7">
                <h2 class="nk-post-title h4 text-left"><a>@Model.Title</a></h2>
                <div class="nk-post-date mt-10 mb-10" style="font-size:30px">
                    <span class="nk-product-price"></span>@Model.Price $
                </div>
                <div>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@Model.Id" asp-route-userId="@User.Id()"
                       class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-white" style="float-right">Add to Cart</a>

                </div>

                <div class="nk-post-text">
                    <h1 class="nk-post-date mt-10 mb-10" style="font-size:20px">Description:</h1>
                    <p>@Model.Description</p>
                </div>
                <div class="nk-post-text">
                    <h1 class="nk-post-date mt-10 mb-10" style="font-size:20px">Requirements:</h1>
                    <p>@Model.Requirements</p>
                </div>
                <div class="nk-post-text">
                    <h1 class="nk-post-date mt-10 mb-10" style="font-size:20px">Guide:</h1>
                    <p>@Model.Guide</p>
                </div>
                <div class="nk-widget-content" style="padding-top: 20px">
                    <h1 class="nk-post-date mt-10 mb-10" style="font-size:20px">Trailer:</h1>
                    <div class="nk-plain-video" data-video="@Model.TrailerUrl"></div>
                </div>
                <div class="gap-3"></div>
                <div>
                    <row>
                        <a asp-action="Delete" asp-route-id="@Model.Id" asp-area="Administration" asp-controller="Games"  class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Delete game!</a>

                    </row>
                </div>
                <div class="gap-5"></div>
                <div>
                    <row>
                        <a asp-action="Edit" asp-route-id="@Model.Id" asp-area="Administration" asp-controller="Games" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Edit game!</a>

                    </row>
                </div>

            </div>
        </div>


</body>
</html>
