@model AllArticlesQueryModel


@{ 
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }


<!DOCTYPE html>


<html lang="en">
<body>

    <partial name="_SearchAndSortArticlePartial" model="@Model"></partial>
    @if (Model.Articles.Count() == 0)
    {
        <div align="center" class="container" style="height: 300px; width:300px">
            <h3 class="text-center">Sorry, no articles available at the moment!</h3>

        </div>

    }


    <div class="container">
        <div class="row vertical-gap">
            <div class="row-md-4">
                <div class="nk-blog-grid">
                    <div class="row">
                        @foreach (var article in Model.Articles)
                        {
                            <div class="row-md-4" style="margin-bottom: 20px; border: 1px solid black; border-color:indigo">
                                <div class="nk-blog-post">

                                    <div class="nk-gap"></div>
                                    <h2 class="nk-post-title h4"><a>@article.Title</a></h2>

                                    <div class="nk-gap"></div>
                                    <div class="">
                                        <a class="col-md-2" style="float:left;">
                                            <img src="@article.ImageUrl" width="180"
                                                 height="200" />

                                        </a>
                                        <p style="margin-left:20px">@article.ShortDescription...</p>

                                    </div>

                                    <div class="nk-gap"></div>

                                </div>
                                <div style="float-left">
                                    @article.CreatedOn
                                </div>
                                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" asp-route-information="@article.GetInformationArticle()" style="float:right;" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    @{ var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalArticles / AllArticlesQueryModel.ArticlesPerPage); }

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-main-1 @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Articles"
               asp-action="All"
               asp-route-currentPage="@previousPage"
               asp-route-brand="@Model.Title"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.Sorting)"><<</a>
        </div>

        @{ var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                                       !Model.Articles.Any(); }

        <div class="col-md-6">
            <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-hover-color-main-1 float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
               asp-controller="Articles"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-brand="@Model.Title"
               asp-route-searchTerm="@Model.SearchTerm"
               asp-route-sorting="@((int)Model.Sorting)">>></a>
        </div>
    </div>

    <img class="nk-page-background-top" src="~/assets/images/bg-top.png" alt="">
    <img class="nk-page-background-bottom" src="~/assets/images/bg-bottom.png" alt="">


</body>
</html>
